Repository hmcts/ia-home-office-integration-api, pull requests merged in 2020-09, with the labels that each got.

#121 Fixed test to be in sync with PRP1 response
  src/functionalTest/resources/scenarios/RIA-3378-response-for-appeal-submitted-not-asylum-case.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-121

#122 Disabling test until we get a confirmed expected response from PRP1
  src/functionalTest/resources/scenarios/RIA-3271-sample-response-for-appeal-submitted.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-122

#126 RIA-3408: updated infra files with secret keys
  Jenkinsfile_CNP
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-126

#124 RIA-3533-3532:Add integration test for null field, handle HO endpoint change
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeStatusSearchIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/testutils/WithHomeOfficeStatusSearchStub.java
  src/integrationTest/resources/ho-api_get-by-search-params_200-valid_null_response.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-124

#102 RIA-3377: openid changes
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/WelcomeFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeStatusSearchIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/testutils/WithIdamStub.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/CcdEventAuthorizorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/AuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/SpringAuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/homeoffice/HomeOfficeAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/SpringAuthorizedRolesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-102
