Repository hmcts/ia-home-office-integration-api, pull requests merged in 2020-04, with the labels that each got.

#14 Checking PR builds
  .env
  Dockerfile
  README.md
  build.gradle
  charts/ia-home-office-integration-api/.helmignore
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/requirements.yaml
  charts/ia-home-office-integration-api/templates/NOTES.txt
  charts/ia-home-office-integration-api/values.aat.template.yaml
  charts/ia-home-office-integration-api/values.preview.template.yaml
  charts/ia-home-office-integration-api/values.yaml
  charts/rpe-spring-boot-template/values.yaml
  docker-compose.yml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/demo/controllers/RootControllerTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-14

#18 changes for a good master pipeline
  infrastructure/main.tf
Labels: ns:ia, rel:ia-home-office-integration-api-pr-18

#19 Terraform update for master branch
  infrastructure/main.tf
Labels: ns:ia, rel:ia-home-office-integration-api-pr-19

#20 variables.trf modified
  infrastructure/variables.tf
Labels: ns:ia, rel:ia-home-office-integration-api-pr-20

#21 checkstyle same as ia-case-api
  .editorconfig
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/demo/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/demo/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/demo/controllers/RootController.java
  src/test/java/uk/gov/hmcts/reform/demo/controllers/RootControllerTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-21

#24 Smoke test added
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/demo/config/SwaggerPublisher.java
  src/smokeTest/java/uk/gov/hmcts/reform/demo/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/demo/controllers/RootControllerTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-24

#25 Port change
  .env
  Dockerfile
  Jenkinsfile_nightly
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-home-office-integration-api-pr-25

#26 Home office controller introduced
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/RootController.java
  src/smokeTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/RootControllerTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-26

#27 PACT consumer contract added
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/HomeOfficeConsumerTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-27

#31 Tidy up
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeController.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeControllerTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-31

#32 Adding ia framework
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/RequiredFieldMissingException.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCase.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/callback/DispatchPriority.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/callback/PreSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/callback/PreSubmitCallbackStage.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/CaseDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/callback/DispatchPriorityTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/callback/PreSubmitCallbackResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/callback/PreSubmitCallbackStageTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-32

#40 Helm: Adding infra config
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
Labels: ns:ia, rel:ia-home-office-integration-api-pr-40

#41 Bootstrap and config test
  Jenkinsfile_CNP
  build.gradle
  charts/ia-home-office-integration-api/values.aat.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/WelcomeFunctionTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeController.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/config.properties
Labels: ns:ia, rel:ia-home-office-integration-api-pr-41

#43 Test vault working
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/WelcomeFunctionTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeController.java
  src/main/resources/bootstrap.yaml
Labels: ns:ia, rel:ia-home-office-integration-api-pr-43

#45 Checking we get vault values correctly
  build.gradle
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.preview.template.yaml
  charts/ia-home-office-integration-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/WelcomeFunctionTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeController.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-45

#37 Basic idam logic added
  build.gradle
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/BadRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/GoodRequestsTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/UserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/UserDetails.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/UserRole.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/CcdEventAuthorizorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/AccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/RequestUserAccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetails.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdentityManagerResponseException.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/UserRoleTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/RequestUserAccessTokenProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-37

#47 pact publish
  build.gradle
  docker-pactbroker-compose.yml
Labels: ns:ia, rel:ia-home-office-integration-api-pr-47

#48 Add S2S functional test
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:ia, rel:ia-home-office-integration-api-pr-48
