Repository hmcts/ia-home-office-integration-api, pull requests merged in 2020-05, with the labels that each got.

#52 Adding Dispatcher and Handler framework to App
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/WelcomeFunctionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/GoodRequestsTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/callback/Callback.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/PreSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeController.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/PreSubmitCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeControllerTest.java
Labels: ns:ia, rel:ia-home-office-integration-api-pr-52

#54 PACT publish file
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/HomeOfficeConsumerTest.java
  target/pacts/hmcts-homeoffice_api.json
Labels: ns:ia, rel:ia-home-office-integration-api-pr-54

#55 RIA-3073 scenario test
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/HomeOfficeConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/WelcomeFunctionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/MapFieldAssertor.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/MapMerger.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/MapSerializer.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/MapValueExpander.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/MapValueExtractor.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/StringResourceLoader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/verifiers/CaseDataVerifier.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/verifiers/Verifier.java
  src/functionalTest/resources/scenarios/RIA-3073-sample-response-for-appeal-submitted.json
  src/functionalTest/resources/templates/aip-minimal-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
  target/pacts/hmcts-homeoffice_api.json
Labels: ns:ia, rel:ia-home-office-integration-api-pr-55
