Repository hmcts/ia-home-office-integration-api, pull requests merged in 2020-07, with the labels that each got.

#84 RIA-3381:Update code to signed off API spec
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ConsumerInstruct.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ConsumerReference.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/MessageType.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/SearchStatus.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ApplicationStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ConsumerInstructTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ConsumerReferenceTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/MessageTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/SearchStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeSearchServiceTest.java
  src/test/resources/home-office-sample-response.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-84

#87 RIA-3376: PACT contract updated as per signed off API spec
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/HomeOfficeConsumerTest.java
  target/pacts/hmcts-homeoffice_api.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-87

#92 RIA-3376: Contract for Error scenario
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/HomeOfficeConsumerTest.java
  src/functionalTest/resources/scenarios/RIA-3073-sample-response-for-appeal-submitted.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-92

#90 RIA-3448 upgrading to java11
  .travis.yml
  Dockerfile
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-90

#93 Java11 upgrade
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-93
