Repository hmcts/ia-home-office-integration-api, pull requests merged in 2020-10, with the labels that each got.

#137 Owasp upgrade 6.0.2
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-137

#133 RIA-3569:Nightly build,Publish Swagger,serenity report,README
  .github/workflows/swagger.yml
  .travis.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  audit.json
  build.gradle
  docker-pactbroker-compose.yml
  security.sh
  src/functionalTest/resources/scenarios/RIA-3271-sample-response-for-appeal-submitted.json
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/testutils/TestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/BadRequestsTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructService.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-133

#114 RIA-3390:Request Home Office data flow and negative scenario
  Jenkinsfile_nightly
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-3390-request-home-office-data-fail.json
  src/functionalTest/resources/scenarios/RIA-3390-request-home-office-data-success.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/field/IdValue.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ApplicationStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/field/IdValueTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-114

#130 RIA-3545: Handle different error scenario
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-error-code-1040.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-error-code-1070.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-error-code-2000.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-error-code-2010.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-invalid-format-1060.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-invalid-format-more-than-30char-reference.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-no-appellant-found-1010.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-no-appellant-found-1030.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-no-ho-reference-found-1020.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-no-main-applicant.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/FeignErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/HomeOfficeResponseException.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/homeoffice/HomeOfficeAuthorizor.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-130

#141 RIA-3545-disable test for error against mock
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-no-appellant-found-1030.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-no-ho-reference-found-1020.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-141

#147 terraform cleanup
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-147

#148 Azure provider v2
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-148

#150 terraform upgrade 0.13.4
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-150
