Repository hmcts/ia-home-office-integration-api, pull requests merged in 2020-08, with the labels that each got.

#91 RIA-3271: HO API Validation tab all fields
  src/functionalTest/resources/scenarios/RIA-3271-sample-response-for-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DecisionCommunication.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HomeOfficeCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HomeOfficeMetadata.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HomeOfficeSearchResponse.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/Person.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/RejectionReason.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/SearchStatus.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/util/HomeOfficeDateFormatter.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/JacksonConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ApplicationStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DecisionCommunicationTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HomeOfficeCaseStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HomeOfficeMetadataTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HomeOfficeSearchResponseTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/PersonTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/RejectionReasonTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/util/HomeOfficeDateFormatterTest.java
  src/test/resources/home-office-sample-response.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-91

#99 Changes to connect to home office PRP1
  Jenkinsfile_CNP
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-3290-notification-for-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeSearchService.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/FeignErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/HomeOfficeSearchApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/FeignErrorDecoderTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-99

#100 Connect with home office PRP1
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeSearchService.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-100

#103 Connect to ia-home-office-mock-api
  Jenkinsfile_CNP
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/MapSerializer.java
  src/functionalTest/resources/scenarios/RIA-3271-sample-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3290-notification-for-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HomeOfficeMetadata.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructService.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeSearchService.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/HomeOfficeInstructApi.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/JacksonConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeSearchServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-103

#105 RIA-3509:Home office PRP1 connect for Validation flow
  Jenkinsfile_CNP
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-3290-notification-for-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-105

#106 Revert "RIA-3509:Home office PRP1 connect for Validation flow"
  Jenkinsfile_CNP
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-3290-notification-for-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-106

#112 Ria 3378 ho auth
  src/functionalTest/resources/scenarios/RIA-3378-expected-400-response-invalid-format.json
  src/functionalTest/resources/scenarios/RIA-3378-response-for-appeal-submitted-invalid-short-format.json
  src/functionalTest/resources/scenarios/RIA-3378-response-for-appeal-submitted-not-asylum-case.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-200-response-no-data-found.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-response-for-appeal-submitted-non-uan-format.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-response-for-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/CodeWithDescription.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ConsumerReference.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HomeOfficeCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/Person.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeSearchService.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/HomeOfficeSearchApi.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeSearchServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-112

#113 Ria 3378 ho auth
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-113

#107 RIA-3510: Handle null values in HO response
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
  src/test/resources/home-office-null-field-response.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-107
