Repository hmcts/ia-home-office-integration-api, pull requests merged in 2021-02, with the labels that each got.

#191 RIA-3970: Refactored to log correlation id and fixed test
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructService.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-191

#192 RIA-3961 Investigate suppressed CVE checks
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-192

#194 RIA-3749: optimised retry and http timeout values for Feign client
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-194

#195 RIA-3749: Temporarily disabled validation functional tests until PRP1 is available and enable retry testing while it is unavailable
  src/functionalTest/resources/scenarios/RIA-3271-sample-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3332-response-for-mark-appeal-paid-event.json
  src/functionalTest/resources/scenarios/RIA-3332-response-for-pay-and-submit-event.json
  src/functionalTest/resources/scenarios/RIA-3378-expected-400-response-invalid-format.json
  src/functionalTest/resources/scenarios/RIA-3378-response-for-appeal-submitted-invalid-short-format.json
  src/functionalTest/resources/scenarios/RIA-3378-response-for-appeal-submitted-not-asylum-case.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-200-response-no-data-found-cid-ref.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-200-response-no-data-found-uan-ref.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-response-for-appeal-submitted-non-uan-format.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3390-request-home-office-data-fail.json
  src/functionalTest/resources/scenarios/RIA-3390-request-home-office-data-success.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-invalid-format-more-than-30char-reference.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-195

#197 RIA-3710 Migrate to Helm charts v2
  charts/ia-home-office-integration-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-197

#202 refactoring Launch Darkly client
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/FeatureToggleConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/LaunchDarklyFunctionalTestClient.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-202

#203 RIA-3710 reverting back from launchdarkly upgrade
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/FeatureToggleConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/LaunchDarklyFunctionalTestClient.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-203

#208 RIA-3749: Reverted Temporarily disabled validation functional tests.
  src/functionalTest/resources/scenarios/RIA-3271-sample-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3332-response-for-mark-appeal-paid-event.json
  src/functionalTest/resources/scenarios/RIA-3332-response-for-pay-and-submit-event.json
  src/functionalTest/resources/scenarios/RIA-3378-expected-400-response-invalid-format.json
  src/functionalTest/resources/scenarios/RIA-3378-response-for-appeal-submitted-invalid-short-format.json
  src/functionalTest/resources/scenarios/RIA-3378-response-for-appeal-submitted-not-asylum-case.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-200-response-no-data-found-cid-ref.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-200-response-no-data-found-uan-ref.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-response-for-appeal-submitted-non-uan-format.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3390-request-home-office-data-fail.json
  src/functionalTest/resources/scenarios/RIA-3390-request-home-office-data-success.json
  src/functionalTest/resources/scenarios/RIA-3545-valid-200-response-invalid-format-more-than-30char-reference.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-208

#207 RIA-3710 Migrate to Helm charts v2
  charts/ia-home-office-integration-api/requirements.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-207
