Repository hmcts/ia-home-office-integration-api, pull requests merged in 2021-08, with the labels that each got.

#265 fix NFE in search validation handler
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-265

#264 RIA-4556 HomeOffice UAN atleast one matching criteria
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/HomeOfficeDataMatchHelper.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/RequestHomeOfficeDataHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/RequestHomeOfficeDataPreparer.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/SubmitAppealApplicantSearchHandler.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/RequestHomeOfficeDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/RequestHomeOfficeDataPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/SubmitAppealApplicantSearchHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-264

#267 Charts upgrade 3.6.0
  charts/ia-home-office-integration-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-267

#268 RIA-4773 Display No match for Home Office API error
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/HomeOfficeDataErrorsHelper.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/RequestHomeOfficeDataPreparer.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/RequestHomeOfficeDataPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-268
