Repository hmcts/ia-home-office-integration-api, pull requests merged in 2021-04, with the labels that each got.

#232 RIA-3980 Updated the functional tests with DOB to assert SUCCESS
  .gitignore
  src/functionalTest/resources/scenarios/RIA-3271-sample-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3332-response-for-mark-appeal-paid-event.json
  src/functionalTest/resources/scenarios/RIA-3332-response-for-pay-and-submit-event.json
  src/functionalTest/resources/scenarios/RIA-3378-valid-response-for-appeal-submitted.json
  src/functionalTest/resources/scenarios/RIA-3390-request-home-office-data-success.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-232

#233 RIA-3980 Updated HomeOffice decision date format
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-233

#226 Ria 3981
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandler.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AsylumCaseStatusSearchHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-226

#234 RIA-3980 Removed redundant tests
  src/functionalTest/resources/scenarios/RIA-3980-home-office-response-matchin-applicant-dob.json
  src/functionalTest/resources/scenarios/RIA-3980-home-office-response-matching-applicant-name.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-234

#231 RIA-4278 fix CVE and upgrade charts
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-231
