Repository hmcts/ia-home-office-integration-api, pull requests merged in 2021-03, with the labels that each got.

#209 RIA-4056 Upgrade spring-boot to 2.3.5
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-209

#212 RIA-4058 remove cpe CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-212

#206 RIA-4055 Upgrade apache.httpcomponents/httpclient to 4.5.13
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-206

#211 RIA-4054 Upgrade launchdarkly version from 4.14.1 to 5.2.2 (#202)
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/FeatureToggleConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/LaunchDarklyFunctionalTestClient.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-211

#214 RIA-4121 Upgrade Tomcat version from 9.0.40 to 9.0.43
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-214

#216 Updated functional tests with a valid PRP1 reference
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-appeal-submitted-co.json
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-case-building-admin.json
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-case-building-judge.json
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-case-under-review-admin.json
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-final-bundling-judge.json
  src/functionalTest/resources/scenarios/RIA-3305-notification-for-async-stitching-complete-co.json
  src/functionalTest/resources/scenarios/RIA-3306-notification-for-hearing-without-decision-fee-option.json
  src/functionalTest/resources/scenarios/RIA-3306-notification-for-hearing.json
  src/functionalTest/resources/scenarios/RIA-3308-notification-for-appeal-submitted-different-horeference.json
  src/functionalTest/resources/scenarios/RIA-3308-notification-for-appeal-submitted-multiple-nationalities.json
  src/functionalTest/resources/scenarios/RIA-3308-notification-for-appeal-submitted-single-nationality.json
  src/functionalTest/resources/scenarios/RIA-3308-notification-for-appeal-submitted-stateless.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-decision.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-finalbundling.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-prehearing-co.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-prehearing.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-prepareforhearing.json
  src/functionalTest/resources/scenarios/RIA-3310-notification-reheard-for-adjourn-hearing-without-date-prepareforhearing.json
  src/functionalTest/resources/scenarios/RIA-3310-notification-reheard-for-async-stitching-complete-finalbundling-co.json
  src/functionalTest/resources/scenarios/RIA-3310-notification-reheard-for-hearing-edit-case-listing-prepareforhearing.json
  src/functionalTest/resources/scenarios/RIA-3310-notification-reheard-for-hearing-listing.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-appellant-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-appellant-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-appellant-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-decided-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-decided-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-ftpa-submitted-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-ftpaDecided-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-ftpaSubmitted-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-3314-notification-for-appeal-decided-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-3314-notification-for-appeal-decided-case-officer.json
  src/functionalTest/resources/scenarios/RIA-3314-notification-for-appeal-decided-judge.json
  src/functionalTest/resources/scenarios/RIA-3316-notification-for-adjourn-hearing-without-date-decision.json
  src/functionalTest/resources/scenarios/RIA-3316-notification-for-adjourn-hearing-without-date-finalbundling.json
  src/functionalTest/resources/scenarios/RIA-3316-notification-for-adjourn-hearing-without-date-prehearing-co.json
  src/functionalTest/resources/scenarios/RIA-3316-notification-for-adjourn-hearing-without-date-prehearing.json
  src/functionalTest/resources/scenarios/RIA-3316-notification-for-adjourn-hearing-without-date-prepareforhearing.json
  src/functionalTest/resources/scenarios/RIA-3600-notification-for-homeoffice-request-review.json
  src/functionalTest/resources/scenarios/RIA-3691-notification-for-amend-bundle-for-send-direction.json
  src/functionalTest/resources/scenarios/RIA-3692-notification-for-amend-response-for-respondent -review.json
  src/functionalTest/resources/scenarios/RIA-3693-notification-for-change-direction-due-date-co.json
  src/functionalTest/resources/scenarios/RIA-3693-notification-for-change-direction-due-date-judge.json
  src/functionalTest/resources/scenarios/RIA-3693-notification-for-change-direction-due-date-respondent-review-co.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-216

#219 RIA-3302_Remove_incorrect_test
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-case-under-review-admin.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/EndAppealOutcome.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/EndAppealNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/EndAppealNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-219

#217 TA-550 Consumer contract tests
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/idam/IdamApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/idam/IdamApiConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-217

#223 Removed request and response logging
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructService.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-223

#205 RIA-3720 AO lists the case (remote hearing)
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentre.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-205

#220 RIA-3722 edit listing
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/ListingNotificationHelper.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ListingNotificationHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-220
