Repository hmcts/ia-home-office-integration-api, pull requests merged in 2021-01, with the labels that each got.

#170 RIA-3835: Added Launch Darkly test client for functional tests to control the tests run to enable deployments
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-home-office-integration-api/Chart.yaml
  charts/ia-home-office-integration-api/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/LaunchDarklyFunctionalTestClient.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/FeatureToggleConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-170

#142 Ria 3306 hearing notification
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-3306-notification-for-hearing-without-decision-fee-option.json
  src/functionalTest/resources/scenarios/RIA-3306-notification-for-hearing.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/Hearing.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HearingInstructMessage.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/HearingType.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/WitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ListCaseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/DateTimeExtractor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AbstractNotificationsHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ListCaseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/RequestEvidenceBundleNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/RequestEvidenceReviewNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/DateTimeExtractorTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-142

#144 Ria 3309 ho hearing
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-decision.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-finalbundling.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-prehearing-co.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-prehearing.json
  src/functionalTest/resources/scenarios/RIA-3309-notification-for-hearing-edit-case-listing-prepareforhearing.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ListCaseNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ListCaseNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-144

#181 RIA-3601: Feign Retryer added. Removed RestTemplate, Added functional tests and integration tests.
  src/functionalTest/resources/scenarios/RIA-3601-notification-for-request-evidence-400-bad-request-response.json
  src/functionalTest/resources/scenarios/RIA-3601-notification-for-request-evidence-500-api-response.json
  src/functionalTest/resources/scenarios/RIA-3601-notification-for-request-evidence-500-service-unavailable-response.json
  src/functionalTest/resources/scenarios/RIA-3601-notification-for-request-evidence-503-response.json
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeInstructIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/testutils/IntegrationConstants.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/testutils/WithHomeOfficeAuthStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/testutils/WithHomeOfficeInstructStub.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/CustomFeignRetryer.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/HomeOfficeInstructService.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/FeignErrorDecoder.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/HomeOfficeTokenApi.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/RetriesExceededException.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/homeoffice/HomeOfficeAuthorizor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/FeignErrorDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/homeoffice/HomeOfficeAuthorizorTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-181

#154 Ria 3314 decided notification
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-3314-notification-for-appeal-decided-admin-officer.json
  src/functionalTest/resources/scenarios/RIA-3314-notification-for-appeal-decided-case-officer.json
  src/functionalTest/resources/scenarios/RIA-3314-notification-for-appeal-decided-judge.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AppealDecidedInstructMessage.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AppealDecision.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/CourtOutcome.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AppealDecidedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/AppealDecidedNote.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AppealDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/CourtOutcomeTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/MessageTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AppealDecidedNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-154

#146 Ria 3305 hearing bundle ready
  src/functionalTest/resources/scenarios/RIA-3305-notification-for-async-stitching-complete-co.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/Hearing.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/HearingBundleReadyNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/ListingNotificationHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AbstractNotificationsHandlerTestBase.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/HearingBundleReadyNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ListingNotificationHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-146

#158 Ria 3313 ftpa submitted notification
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-appellant-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-appellant-ftpa-decided.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-appellant-ftpa-submitted.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-decided-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-decided-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-ftpa-submitted-homeoffice-generic-submit.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-ftpaDecided-homeoffice-pou-submit.json
  src/functionalTest/resources/scenarios/RIA-3313-notification-for-ftpa-respondent-ftpaSubmitted-homeoffice-pou-submit.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/CourtType.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/PermissionToAppealInstructMessage.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/FtpaAppellantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/FtpaRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/CourtTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/FtpaAppellantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/FtpaRespondentNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-158

#184 Ria 3307 ftpa decided notification
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-appellant-notAdmitted.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-appellant-partiallyGranted.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-respondent-notAdmitted.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-respondent-partiallyGranted.json
  src/functionalTest/resources/scenarios/RIA-3307-leadership-judge-respondent-refused.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-partiallyGranted.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-reheard32.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-reheard35.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-remade32-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-appellant-remade32-dismissed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-partiallyGranted.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-refused.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-reheard32.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-reheard35.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-remade32-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-resident-judge-respondent-remade32-dismissed.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/FtpaDecisionOutcomeType.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/FtpaResidentJudgeDecisionOutcomeType.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecidedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ResidentJudgeFtpaDecidedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/FtpaAppealDecidedNote.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/FtpaDecidedNotificationsHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/FtpaDecidedNotificationsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/LeadershipJudgeFtpaDecidedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ResidentJudgeFtpaDecidedNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-184

#155 Ria 3302 ho end appeal
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-appeal-submitted-co.json
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-case-building-admin.json
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-case-building-judge.json
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-case-under-review-admin.json
  src/functionalTest/resources/scenarios/RIA-3302-notification-for-end-appeal-on-state-final-bundling-judge.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/EndAppealInstructMessage.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/EndAppealOutcome.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/EndAppealNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/util/HomeOfficeDateFormatter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/EndAppealNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/client/util/HomeOfficeDateFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-155

#165 Ria 3691 amend bundle
  src/functionalTest/resources/scenarios/RIA-3691-notification-for-amend-bundle-for-send-direction.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AmendBundleNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AmendBundleNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-165

#168 Ria 3692 amend response
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-3692-notification-for-amend-response-for-respondent -review.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AmendResponseNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/AmendResponseNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-168

#169 Ria 3693 direction due date
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-3693-notification-for-change-direction-due-date-co.json
  src/functionalTest/resources/scenarios/RIA-3693-notification-for-change-direction-due-date-judge.json
  src/functionalTest/resources/scenarios/RIA-3693-notification-for-change-direction-due-date-respondent-review-co.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ChangeDirectionDueDateNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/ChangeDirectionDueDateNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-169
