Repository hmcts/ia-home-office-integration-api, pull requests merged in 2022-02, with the labels that each got.

#270 RIA-4540: Updated Direction entity to reflect the additional fields
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/Direction.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DirectionTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-270

#274 RIA-5471: Update dependencies & address vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-274

#275 RIA-5503: Upgrade base helm charts to latest
  charts/ia-home-office-integration-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-275
