Repository hmcts/ia-home-office-integration-api, pull requests merged in 2022-12, with the labels that each got.

#282 Ria 6527
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentre.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-282

#283 Updates to include mark appeal as paid for case officer
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-283

#284 RIA-6533 Added direction tag for ADA list case
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DirectionTag.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DirectionTagTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-284
