Repository hmcts/ia-home-office-integration-api, pull requests merged in 2023-06, with the labels that each got.

#299 AIP FTPA -> Master (DO NOT MERGE)
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-299

#312 RIA-7251 Break app startup if missing HO secrets
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/ConfigValidatorAppListener.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/homeoffice/HomeOfficeAuthorizor.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/ConfigValidatorAppListenerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/homeoffice/HomeOfficeAuthorizorTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-312

#314 RIA-7524 - Merge master to naba branch
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/ConfigValidatorAppListener.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/homeoffice/HomeOfficeAuthorizor.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/ConfigValidatorAppListenerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/homeoffice/HomeOfficeAuthorizorTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-314

#318 RIA-7385 Remove pedantic checkstyle rules
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-318

#319 RIA-7384 Enforce conventions on commit messages and branches
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/pr-title-validation.yml
  README.md
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-319
