Repository hmcts/ia-home-office-integration-api, pull requests merged in 2023-08, with the labels that each got.

#323 RIA-7585 Empty line commit
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-323

#313 RIA-7251 Restructuring build.gradle file
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-313

#325 RIA-7363 Empty commit
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-325

#328 RIA-TASK - Merged Master changes to NABA home-office
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeInstructIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeStatusSearchIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/WelcomeController.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-328
