Repository hmcts/ia-home-office-integration-api, pull requests merged in 2023-10, with the labels that each got.

#334 RIA-7777 updating suppressions for pipeline
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-334

#335 DIAC-52 fixing nightly
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  security.sh
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/HomeOfficeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/idam/IdamApiConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-335

#339 DIAC-52 swagger script fix
  .github/workflows/swagger.yml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-339

#342 RIA-7879 map epims ids to ccd hearing locations
  src/functionalTest/resources/scenarios/RIA-7879-notification-for-new-hearing-centre-harmondsworth.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentre.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-342

#343 RIA-7814 update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-343

#351 RIA-7454 update suppressions.xml
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-351

#352 DIAC-000 Dependency fix
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-352

#355 RIA-8888 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-355

#354 RIA-7195 add the witnessPartyId and witnessFamilyName in WitnessDetails
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/WitnessDetails.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-354

#357 RIA-8888 upgrade chart version
  charts/ia-home-office-integration-api/Chart.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-357

#358 RIA-7195 remove listing reference number from notification template v3
  charts/ia-home-office-integration-api/Chart.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/field/WitnessDetailsTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-358
