Repository hmcts/ia-home-office-integration-api, pull requests merged in 2023-12, with the labels that each got.

#367 DIAC-123 suppression update 04/12/23
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-367

#369 DIAC-123 dependency 07/12/23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-369

#370 RIA-2023 rebuild_pipelines
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ClarifyingQuestionTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-370

#371 DIAC-184 build fix 18-12-23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-371
