Repository hmcts/ia-home-office-integration-api, pull requests merged in 2023-09, with the labels that each got.

#330 RIA-5679 updating suppressions
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-330

#331 RIA-5679 changed suppression to fixed dependency
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-331

#332 RIA-111 renovate json patch
  .github/renovate.json
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-332
