Repository hmcts/ia-home-office-integration-api, pull requests merged in 2023-11, with the labels that each got.

#359 RIA-7792 Add field to WitnessDetails
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/WitnessDetails.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/field/WitnessDetailsTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-359

#360 RIA-7734 fix_image
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/UuidIdentityProviderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-360

#353 DIAC-69 getting all functionals running
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-353

#362 RIA-1150 updating chart version to 5.0.0
  build.gradle
  charts/ia-home-office-integration-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-362

#361 RIA-TASK - Merge master changes to NABA - ia-home-office-integration-api
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  .github/workflows/swagger.yml
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  security.sh
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/HomeOfficeConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/idam/IdamApiConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-361

#356 DIAC-002-updating-renovate.json
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-356

#364 RIA-7881 Allow listCase for system user
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-364

#366 DIAC-173 updating dependency and pr validation
  .github/workflows/pr-title-validation.yml
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-366
