Repository hmcts/ia-home-office-integration-api, pull requests merged in 2024-02, with the labels that each got.

#379 DIAC-228 fixing bouncycastle issues
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-379

#380 RIA-8101 judge rework ho-integration
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-partiallyGranted.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-reheard32.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-reheard35.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-remade32-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-remade32-dismissed.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-partiallyGranted.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-refused.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-reheard32.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-reheard35.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-remade32-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-remade32-dismissed.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/DecideFtpaApplicationOutcomeType.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/DecideFtpaApplicationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/FtpaDecidedNotificationsHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/DecideFtpaApplicationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/FtpaDecidedNotificationsHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-380

#382 RIA-8104 Fix sonnar issue
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/DecideFtpaApplicationOutcomeTypeTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-382

#383 DIAC-236 splitting up tests to separate stages
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-383

#385 RIA-8157 update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-385
