Repository hmcts/ia-home-office-integration-api, pull requests merged in 2024-04, with the labels that each got.

#391 RIA-8888 retrigger NABA image build
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, aat/add-or-update, rel:ia-home-office-integration-api-pr-391

#392 RIA-8888 updated suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-392

#384 RIA-8609 - PR for fixing naba conflicts
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeInstructIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeStatusSearchIntegrationTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-384, aat/add-or-update

#393 DIAC-366 CVEs
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-393

#394 RIA-8609 - Cherry picked 5f79181b 16/04/2024
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, aat/add-or-update, rel:ia-home-office-integration-api-pr-394

#285 RIA-TASK - NABA - DO NOT MERGE
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/State.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AppealDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ClarifyingQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/UuidIdentityProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-285, DO_NOT_MERGE, add-or-update, aat/add-or-update

#398 RIA-8860 Merge with master
  Jenkinsfile_nightly
  build.gradle
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeInstructIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeStatusSearchIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/BadRequestsTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/Parties.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/AppealDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ClarifyingQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/PartiesTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/UuidIdentityProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-398
