Repository hmcts/ia-home-office-integration-api, pull requests merged in 2024-05, with the labels that each got.

#375 RIA-TASK - Merge master changes to DLRM - ia-home-office-integration-api
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-granted.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-partiallyGranted.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-refused.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-reheard32.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-reheard35.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-remade32-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-appellant-remade32-dismissed.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-granted.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-partiallyGranted.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-refused.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-reheard32.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-reheard35.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-remade32-allowed.json
  src/functionalTest/resources/scenarios/RIA-3307-decide-ftpa-application-respondent-remade32-dismissed.json
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/DecideFtpaApplicationOutcomeType.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/DecideFtpaApplicationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/FtpaDecidedNotificationsHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/DecideFtpaApplicationOutcomeTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/DecideFtpaApplicationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/handlers/presubmit/FtpaDecidedNotificationsHelperTest.java
Labels: ns:ia, prd:ia, DO_NOT_MERGE, aat/add-or-update, rel:ia-home-office-integration-api-pr-375

#399 DIAC-401 bump chart version
  charts/ia-home-office-integration-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-399

#400 DIAC-401 Update Chart Version
  charts/ia-home-office-integration-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-400
