Repository hmcts/ia-home-office-integration-api, pull requests merged in 2024-01, with the labels that each got.

#372 DIAC-101 turning fortify on for nightly build
  Dockerfile
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-372

#377 RIA-7833 Commit to rebuild pipeline
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-377

#373 DIAC-211 adding new party
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/Parties.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/entities/PartiesTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-home-office-integration-api-pr-373

#296 RIA-6987 - Changes to add cache
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeInstructIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/component/HomeOfficeStatusSearchIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/controllers/BadRequestsTest.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-home-office-integration-api-pr-296, enable_keep_helm

#374 RIA-TASK - Merge master changes to NABA - ia-home-office-integration-api
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  Dockerfile
  Jenkinsfile_nightly
  build.gradle
  charts/ia-home-office-integration-api/Chart.yaml
  config/fortify-client.properties
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  src/functionalTest/java/uk/gov/hmcts/reform/iahomeofficeintegrationapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-home-office-integration-api-pr-374
